p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 300;
    margin: 2px;
  }

.log-in {
    padding-left: 20px;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 300;
}


#name {
    
}

#number {
    margin-left: 18px;
    
}

#surname {
    margin-left: 18px;
}

#confirm-pwd {
    margin-left: 18px;
}
label[for="surname"] {
    padding-left: 82px;
}

label[for="number"] {
    padding-left: 124px;
}

label[for="confirm-pwd"] {
    padding-left: 92px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -webkit-appearance: none;
    padding-right: 70px;
}

input:invalid {
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    border-radius: 5px;
  }

  input:focus {
    background-color: rgb(96, 211, 237);
    border: none;
    border-radius: 5px;
  }

.box {
    padding-left: 300px;
    padding-top: 30px; 
    float: center;
    width: 1000px;
    height: 610px;
    background-color: rgb(146, 165, 228);
}

h1 {
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h2 {
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
#form {
    background-color: rgb(92, 125, 202);
    box-shadow: -2px 2px 5px black;
    width: 1000px;
    height: 270px;
}

#form-text {
    padding-left: 20px;
    padding-top: 2px;
}

#pole {
    background-image: url("pole.jpeg");
    background-repeat: no-repeat;
    width: 300px;
    height: 1000px;
    float: left;
    filter: brightness(100%);
}

#logo {
    width: 200px;
    height: 200px;
    background-image: url(buzzsters-white.png);
    background-size: 100%;
    position: absolute;
    top: 264px;
    left: 50px;
    background-repeat: no-repeat;
}

#fondo-logo {
    background-color: rgb(1, 50, 119);
    opacity: 50%;
    width: 300px;
    height: 274px;
    top:234px;
    position: absolute;
}

button {
    margin-left: 20px;
    padding:10px;
    background-color: rgb(55, 162, 238);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    border-radius: 10px;
    margin-top: 20px;
    font-style: normal;
    font-variation-settings:
      "wdth" 300;
}

